//--------------------------------------------------------------
// Styles for [About]
//--------------------------------------------------------------

.about {
	min-height: calc(100vh - 104px);

	section {
		padding: 60px 0 40px;
	}

	.about_sponsors,
	.team {
		padding: 60px 0;
		text-align: right;

		.all-sponsors {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}

		.single-sponsor {
			background-color: $color-beta;
			display: block;
			width: calc(100% - 20px);
			position: relative;
			margin: 10px;
			text-decoration: none;
			box-shadow: $box-shadow;
			cursor: pointer;

			@include breakpoint(900px) {
				width: calc(33.33% - 20px);
			}

			&:hover {
				.description {
					background-color: $color-alpha;
				}
			}

			.photo-container {
				width: 100%;
				height: 300px;
				padding: 10px;
			}
			.photo {
				width: 100%;
				height: 100%;
			}

			.description {
				background-color: $color-charlie;
			}

			h3 {
				color: $white;
				margin: 0;
				padding: 10px;
				text-align: center;
				text-transform: uppercase;
				font-family: $font-beta;
			}
		}
	}
}

