//--------------------------------------------------------------
// Content
//--------------------------------------------------------------
.help__icon a {
	text-decoration: none;
	color: $black;
}

.help__icon a:hover {
	color: $color-charlie;
}