@charset "UTF-8";

//--------------------------------------------------------------
// >>> TABLE OF CONTENTS:
//--------------------------------------------------------------

// Normalize.css
@import "../vendor/normalize-scss/normalize";

// Variables
@import "variables";

// Mixins
@import "mixins";

// Utility
@import "utilities";

// Fonts
@import "fonts";

// Icons
@import "icons";

// Elements
@import "elements";

// Structure
@import "structure";

// Typography
@import "typography";

// Navigation
@import "nav";

// Accessibility
@import "a11y";

// Forms
@import "forms";

// Content
@import "content";

// Slick
@import "slick";

// Template-Specific Styles
@import "templates/_page-homepage.scss";
@import "templates/_page-about.scss";
@import "templates/_page-secondary.scss";
@import "templates/_page-dog.scss";
@import "templates/_page-sponsors.scss";
